
@media screen and (max-width: 992px) {

    .container{
        grid-template-columns: 3fr 2fr;
    }

    .container .sidebar{
        position: absolute;
        left: -100%;
    }

    .container .sidebar .playing{
        display: none;
    }

    .container main header .nav-links a {
        font-size: 13px;
    }

    .container main header .search{
        width: 38px;
    }

    .container main header .search input{
        display: none;
    }

    .container main .treading img{
        width: 120px;
        height: 100px;
        margin-top: 66px;
    }

    .container main .playlist{
        margin-top: 40px;
    }

    .container .right-section .music-player{
        height: 87%;
    }

    .container .right-section .music-player .song-info img{
        width: 180px;
        height: 180px;
    }

    .container .right-section .music-player .player-actions .buttons{
        margin-top: 38px;
    }

    .container .right-section .music-player .player-actions .buttons i{
        font-size: 18px;
        
    }
    .container main header .nav-links button,
    .container .sidebar .logo button{
        
    display: flex;
}

}

@media screen and (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
    }

    .container main .treading,
    .container main .playlist{
        display: none;
    }

    .container main hheader .search{
        width: 40%;
    }

    .container main header .search input {
        display: block;
    }

    .container .right-section{
        padding: 20px 36px;
    }

    .container .right-section .profile{
        justify-content: center;
        margin-bottom: 20px;
    }

    .container .right-section .music-player{
        height: 100%;
    }
    .container .right-section .music-player .song-info img{
        width: 190px;
        height: 190px;
    }

    .container .right-section .music-player .buttons i{
        font-size: 22px;
    }
}